.App {
  text-align: left;
}

.iField {
  padding:10px;
  margin:20px;
  font-size: 20px;
}

.uList {
  padding:0;
  list-style: none;
}

.list {
margin-bottom: 20px;
font-size: 25px;
color:rgb(4, 37, 90);
font-weight: 250;
}

.pro {
  width: 100px;
  height: 100px;
}